body {
    font-family: 'Irish Grover', cursive;
    color: #016B38;
    background-color: #B88D79;   
    background-image: url(./assets/fundo_Adote.png);
}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.625rem;
    padding-left: 2rem;
    height: 7.5rem;
    width: auto;
} 

header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    padding-left: 0rem;  
    border-radius: 10%;
    margin: 0%;
}

header img:hover {
    display: flex;
    scale: 1.1;
}

header ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-right: 25rem;
}

header ul li {
    margin-left: 10rem;
    font-size: 1.75rem;
}

header ul li a {
    text-decoration: none;
    color: #016B38;
}

header ul li:hover {
    scale: 1.2;
    font-weight: bold;
    cursor: url(./assets/pata-cachorro-cursor.cur), default;
}

main {
    width: auto;
    height: 62rem;
    margin-bottom: 2.5rem;
}

.Main_title {
    text-align: center;
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.Novo_amigo {
    margin: 1.25rem;
    padding: 0.625rem;
    width: 15%;
    height: 23rem;
    float: left; 
    font-family: 'Inter', sans-serif;
    -webkit-text-stroke: 0.031rem #016B38;
    font-size: 100%;
    font-weight: bold;   
    text-align: center;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    background-color:#D9D9D9;
    border-radius: 10%;
}


.Adotar {
    float: right;
    height: 23rem;
    width: 80%;   
    margin-bottom: 3rem;
}

.Por_que_adotar {
    margin: 0.625rem;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    float: right;
}

.Por_que_adotar img{
    width: 23rem;
    height: auto;
    -webkit-box-shadow: 0px 0px 43px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 43px 7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 43px 7px rgba(66, 68, 90, 1);
}

.Textos_adotar {
    height: 23rem;
    width: 70.75;
    padding-left: 2rem;
    padding-right: 1rem;
}

.Titulo_adotar {
    text-align: center;
    align-content: center;
    letter-spacing: 0.188rem;

}

.Titulo_adotar h2 {
    color: #D9D9D9;
    font-weight: bold;
    font-size: 200%;
    -webkit-text-stroke: 0.031rem #D9D9D9;
    letter-spacing: 0.3rem;
}

.Justif_adotar1 {
    text-align: left;
    align-content: center;
    line-height: 200%;   
    letter-spacing: 0.125rem;
    padding-right: 0.625rem;
    color: #016B38;
}

.Justif_adotar1 h3 {

    font-weight: bold;
    font-size: 150%;
}

.Justif_adotar2 {
    text-align: right;
    align-content: center;   
    padding-left: 4.375rem;
    padding-right: 0.313rem;
    line-height: 200%;   
    letter-spacing: 0.125rem;
    color: #016B38;
}

.Justif_adotar2 h3 {

    font-weight: bold;
    font-size: 150%;
}

.Parceiras {
    margin: 0.4rem;
    margin-right: 0;
    padding: 0.4rem;
    width: 55rem;
    height: 27rem;
    float: left;
    clear: both;
}

.Parceiras_title {

}

.Parceiras_title h3 {
    color: #016B38;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.125rem;
}

.Parceiras_images {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 55rem;
    height: 10rem;
    gap: 0.625rem; 
}

.Parceiras_images img {
    width: 13rem;
    height: auto;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
}

.Parceiras_texts {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 55rem;
    height: 7rem;
    gap: 0.625rem;   
    letter-spacing: 0.125rem;
    margin-top: 3rem;
}


.Parceiras a {
    text-decoration: none;
}

.Parceiras_txt {
    width: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color:#D9D9D9;
}

.Dicas {
    margin: 0.4rem;
    margin-top: 0;
    margin-left: 0;
    padding: 0.4rem;
    width: 55rem;
    height: 27rem;
    float: right;
}

.Titulo_Dicas {
    text-align: left;
    align-content: center;
    padding-left: 1.3rem;
    letter-spacing: 0.188rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #D9D9D9;
}

.Dicas_images {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 7.5rem;
    gap: 0.625rem; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Dicas_images img {
    width: 16.5rem;
    height: auto;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
}

.Dicas_texts {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    height: 6rem;
    gap: 0.625rem;   
    letter-spacing: 0.125rem;
    padding-top: 0rem;
}


.Dicas a {
    text-decoration: none;
}

.Dicas_txt {
    width: 13rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color:#016B38;
}

footer {
    background-color: #D9D9D9;    
    padding: 0.3rem;
    height: 13.5rem;
    width: auto;
    
}

footer img {
    width: 5rem;
    height: auto;
    border-radius: 5%;
}

.Foot_images {
    justify-content: left;
    flex-direction: row;
    gap: 3rem;
    display: flex;
    padding-left: 5.7rem;
}


footer h2 {
    text-align: left;
    align-content: center;
    padding-left: 2rem;
    letter-spacing: 0.188rem;
    -webkit-text-stroke: 0.031rem #016B38;
    font-weight: bold;
    font-size: 1.5rem;
}

footer h4 {
    text-align: right;
    align-content: center;
    padding-right: 2rem;
    letter-spacing: 0.188rem;
    -webkit-text-stroke: 0.031rem #016B38;
    font-size: 1rem;
}

/* Estilos específicos para telas menores */
/* @media only screen and (max-width: 768px) {
    /* alterar fonte para ser menor */
    /* html {
      font-size: 60%;
    }
    
    /* header {
        max-width: 100% 
    }

    body {
        max-height: 60%;
        max-width: 60%;
        overflow-x: auto;
        float: none;
    }

    footer {
        max-height: 60%;
        max-width: 60%;
    }

    img, video, embed, object, iframe, .container {
        max-height: auto;
      }