* {

}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    height: 7.5rem;
} 

header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10%;
    margin-left: 1.875rem;  
}

header img:hover {
    display: flex;
    scale: 1.1;
}

header ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20rem;
}

header ul li {
    margin-left: 6.25rem;
    font-size: larger;
}


header ul li:hover {
    scale: 1.2;
    font-weight: bold;
    cursor: url(./assets/pata-cachorro-cursor.cur), auto;

}


body {
    font-family: 'Irish Grover', cursive;
    color: #016B38;
    background-color: #B88D79;   
    background-image: url(./assets/fundo_Adote.png);

}


.Por_que_adotar {
    margin: 0.625rem;
    padding: 0.625rem;
    margin-left: 21.875rem;
    display: flex;
    justify-content: space-between;
    height: 22.5rem;
    width: 70.75rem;

}

.Por_que_adotar img{
    width: 21.5rem;
    height: auto;
    -webkit-box-shadow: -28px 0px 37px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: -28px 0px 37px -2px rgba(66, 68, 90, 1);
    box-shadow: -28px 0px 37px -2px rgba(66, 68, 90, 1);
}

.Textos_adotar {
    height: 22.5rem;
    width: 70.75;
    padding-left: 2rem;
    padding-right: 1rem;

}

.Titulo_adotar {
    text-align: center;
    align-content: center;
    letter-spacing: 0.188rem;
}

.Titulo_adotar h2 {
    color: #D9D9D9;
    font-weight: bold;
    font-size: 200%;
}

.Justif_adotar1 {
    text-align: left;
    align-content: center;
    line-height: 200%;   
    letter-spacing: 0.125rem;
    padding-right: 0.625rem;
}

.Justif_adotar1 h3 {
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 150%;
}

.Justif_adotar2 {
    text-align: right;
    align-content: center;   
    padding-left: 4.375rem;
    padding-right: 0.313rem;
    line-height: 200%;   
    letter-spacing: 0.125rem;
}

.Justif_adotar2 h3 {
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 150%;
}

h1 {
    text-align: center;
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.5rem;
}

h2 {
    color: #D9D9D9;
    font-weight: bold;
    font-size: 200%;
}

h3 {

    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 150%;
}

.Parceiras {

    margin: 0.625rem;
    padding: 0.625rem;
    width: 40rem;
    height: 24rem;

}

.Parceiras_title {

}

.Parceiras_title h3 {
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.125rem;
}

.Parceiras_images {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 40rem;
    height: 10rem;
    gap: 0.625rem; 




}

.Parceiras_images img {
    width: 10rem;
    height: auto;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 37px -2px rgba(66, 68, 90, 1);
}

.Parceiras_texts {

    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 40rem;
    height: 7rem;
    gap: 0.625rem;   
    letter-spacing: 0.125rem;
}


.Parceiras a {
    text-decoration: none;
}

.Parceiras_txt {
    width: 10rem;
    text-align: center;
    -webkit-text-stroke: 0.031rem black;
    font-weight: bold;
    font-size: 0.9rem;
    

}

main {


}

.novo_amigo {
    font-family: 'Inter', sans-serif;
}
