* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    color: #F4f4f4;
    font-size: 1rem;
}

.background {
    background-color: #B88D79;
    background-image: url(/assets/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Inter', sans-serif;
}

.logo {
    border-radius: 10%;
    width: 100%;
    max-width: 100px;
    height: auto;
}

.logo:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

.sections_nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navegation {
    background-color: #D9D9D9;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Irish Grover', cursive;
    width: 100vw;
    padding: 1%;
    padding-left: 2rem;
}

.itens {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    width: 80%;
    padding: 0 1rem;
}

.item {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.option_nav { 
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    color: #016B38;
    max-width: 250px;
    font-size: 1.2rem;
}

.option_nav:hover {
    color:  #B88D79;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;

}

.shopping {
    border: #016B38 solid 1px;
    width: max-content;
    width: 500px;
    height: max-content;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    padding: 2%;
    margin-bottom: 1%;
}

.qtd {
    display: flex;
    flex-wrap: nowrap;
}

.line {
    margin: 1%;
}

.total {
    text-align: end;
    margin-top: 2%;
    order: 2;
}

.end {
    border-radius: 2%;
}

#telaPagamento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #016B38 solid 1px;
    width: max-content;
    width: 500px;
    height: max-content;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    padding: 2%;
    margin-bottom: 1%;
}

.opcaoPagamento {
    margin-top: 2%
}

.data {
    border: #016B38 solid 1px;
    width: 500px;
    height: max-content;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    padding: 1%;
    
}

.payment {
    list-style: none;
}

.forma {
    width: 8rem;
    margin-top: 1rem;
}

.empty {
    font-weight: normal;
    text-align: center;
}

.btn {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-family: 'Irish Grover', cursive;
    
}

.end:hover {
    color: #016B38;
    padding: 5px;
    cursor:grab;
}

.btn:hover {
    color: #016B38;
    padding: 10px;
    cursor: pointer;
}

.footer {
    margin-top: 15%;
    background-color: #D9D9D9;
    width: 100vw;
    text-align: center;
    padding: 2rem;
    color: #016B38;
}



.footer-h4 {
    font-size: 1rem;
}

.social_medias{
    font-size: 1.5rem;
    font-family: 'Irish Grover', cursive;
}

.logo_footer{
    width: 3rem;
    height: 3rem;
    margin: 1%;
    color: #016B38;

}

.img-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

@media only screen and (max-width: 770px){
    .option_nav{
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1rem
    }

}

@media only screen and (max-width: 600px) {
    .logo{
        margin-left: 2%;
        width: 50px;
        height: 50px;
        max-width: 80px;
    }

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .navegation {
        background-color: #D9D9D9;
        width: 100vw;
        box-sizing: border-box;
        padding: 1%;
        margin-right: 0;
    }

    .itens{
        padding: 0;
        width: 90%;
    }

    .item {
        font-size: 0.5rem;
    }

    .option_nav{
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 0.7rem
    }

    .btn {
        padding: 5px;
    }

    .shopping {
        border: #016B38 solid 1px;
        width: max-content;
        height: max-content;
        border-radius: 5%;
        backdrop-filter: blur(15px);
        padding: 5%;
        margin-bottom: 1%;
    }

    .data {
        border: #016B38 solid 1px;
        width: max-content;
        height: max-content;
        border-radius: 5%;
        backdrop-filter: blur(15px);
        padding: 1%;
    }

    .forma{
        width: 50px;
    }

    .footer{
        margin-top: 10%;
        padding: 0.2rem;
        color: #016B38;

    }

    .footer-h4 {
        font-size: 0.5rem;
    }

    .img-footer{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .logo_footer{
        width: 3rem;
        height: 3rem;
        margin: 1%;
    }
}