* {
  background:#B88D79;
  font-family: 'Irish Grover', cursive;
  margin: 0;
  padding: 0;
}

.logo img {
  position: absolute;
  width: 175px;
  height: 172px;
  left: 112px;
  top: 77px;
}

.logo img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 431px;
  height: 485px;
  left: 504px;
  top: 130px;
}

main h3 {
  font-family: 'Irish Grover', cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #F4F4F4;
  text-shadow: 0px 4px 4px rgba(62, 85, 62, 0.876);
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  color: #F4F4F4;
  font-size: 1.3rem;
  margin-top: 1rem;
}

p {
  color: #F4F4F4;
  font-size: 1.2rem;
  text-shadow: 0px 4px 4px rgba(62, 85, 62, 0.876);
}

main form input {
  background: #F4F4F4;
  height: 40px;
  width: 450px;
  font-size: 1rem;
  border: 2px solid #016B38;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 2px rgba(38, 118, 48, 0.303);
}

main form input[type="submit"] {
  cursor: pointer;
  width: 50%;
  margin-top: 1rem;
  border: none;
  background: #f4f4f4;
  color: #016B38;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
  background: #016B38;
  color: #F4F4F4;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  font-size: 1rem;
  color: #F4F4F4;
}

